#  Add this to your ~/.config/direnv/direnvrc file
# layout_uv() {
#     if [[ -z "$UV_PROJECT_ENVIRONMENT" ]]; then
#         export UV_PROJECT_ENVIRONMENT="$(pwd)/.venv"
#     fi
# 
#     if [[ ! -d "$UV_PROJECT_ENVIRONMENT" ]]; then
#         log_status "Creating uv virtual environment at $UV_PROJECT_ENVIRONMENT"
#         uv venv "$UV_PROJECT_ENVIRONMENT"
#     else
#         log_status "Using existing uv virtual environment at $UV_PROJECT_ENVIRONMENT"
#     fi
# 
#     PATH_add "$UV_PROJECT_ENVIRONMENT/bin"
#     export UV_ACTIVE=1
# }

# Función para cargar variables de entorno desde un archivo
load_env_file() {
  if [ -f "$1" ]; then
    echo "Cargando variables de entorno desde $1"
    dotenv "$1" > /dev/null
  fi
}

# Intenta cargar los archivos en orden de prioridad
load_env_file  local.env || \
load_env_file .env || \
load_env_file .dev.vars 

# layout python .venv/bin/python
layout uv 

 