#Mandatory settings
ENV=local
LOG_LEVEL=INFO
# database_url=sqlite+aiosqlite:///./var/lib/database.sqlite #on test.env
database_url=sqlite+aiosqlite:///./var/lib/database.sqlite

# Extras
PYTHONDONTWRITEBYTECODE=1
PYTHONPYCACHEPREFIX=/tmp/.pycache
TMPDIR=/tmp
# Optimizar rendimiento
PYTHONOPTIMIZE=1
PYTHONUNBUFFERED=1
UV_PARALLEL=1